@page
@model GrowthHormone.App.FrontEnd.Pages.Personas.NotFoundPersonModel
@{
}

<p class="text-center text-danger mt-5">
    <i class="fa-solid fa-face-sad-tear fa-10x"></i><br>
    Usuario no encontrado
</p>
