@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container pt-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1 class="display-4 text-center">Growth Hormone <br> System</h1>
            <p class="text-primary text-center">
            <small>
                <i class="fa-solid fa-notes-medical"></i>
                Medición de Hormonas
            </small>
            </p>
        </div>
        <div class="col-12 col-md-6">
            <p class="mt-4">Integrantes del Equipo Desarrollador</p>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <img src="images/logo.png" alt="img-thumbnail" width="60" height="40"> Akatuski
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="alert alert-primary" role="alert">
                            <i class="fa-solid fa-terminal"></i>
                            Ferney Vanegas Hernández
                          </div>
                          <div class="alert alert-secondary" role="alert">
                            <i class="fa-solid fa-terminal"></i>
                            Kevin Nichols Sierra Osorio
                          </div>
                          <div class="alert alert-success" role="alert">
                            <i class="fa-solid fa-terminal"></i>
                            Julián Mauricio Vargas Cruz
                          </div>
                          <div class="alert alert-danger" role="alert">
                            <i class="fa-solid fa-terminal"></i>
                            Alejandra Rocha Muñoz
                          </div>
                          <div class="alert alert-warning" role="alert">
                            <i class="fa-solid fa-terminal"></i>
                            Andrés Mateo Velez Escobar
                          </div>
                          
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
